<!--账户页面-->
<div class="mine">
    <!--注册页面头像-->
    <div class="header">
        <!--头像-->
        <div class="header_photo">
           <div class="header_photo_img"><img src="./images/20151213204751_1313_icon_naifen_profile.png" alt=""></div>
        </div>
        <!--账号信息-->
        <div class="header_info">
            <p class="header_info_num">HI M122435677</p>
            <div class="header_info_img">
                <p>普通会员</p>
                <div><img src="./images/normal_level.png" alt=""></div>
            </div>
        </div>
    </div>
    <!--我的订单-->
    <div class="order">
        <!--我的订单-->
        <div class="order_mine">
            <!--小图标-->
            <div class="order_img"><img src="./images/c-6.png" alt=""></div>
            <p>我的订单</p>
        </div>
        <!--待付款待发货页面-->
        <ul class="order_list">
            <!--列表-->
            <a ui-sref="myOrder">
                <li class="list obligation">
                    <div><img src="./images/c-bankcard.png" alt=""></div>
                    <p>待付款</p>
                </li>
            </a>
            <a href="javascript:void(0);">
                <li class="list shipped">
                    <div><img src="./images/c-parcel.png" alt=""></div>
                    <p>待发货</p>
                </li>
            </a>
            <a href="javascript:void(0);">
                <li class="list rec">
                    <div><img src="./images/c-truck.png" alt=""></div>
                   <p>待收货</p>
                </li>
            </a>
            <a href="javascript:void(0);">
                <li class="list stocks">
                    <div><img src="./images/c-complete.png" alt=""></div>
                    <p>已完成</p>
                </li>
            </a>
            <a href="javascript:void(0);">
                <li class="list refund">
                    <div><img src="./images/c-returngoods.png" alt=""></div>
                    <p>退款</p>
                </li>
            </a>
        </ul>
    </div>
    <!--抵扣券列表-->
    <div class="card">
        <ul class="card_list">
            <a href="javascript:void(0);">
                <li>
                    <div class="card_list_img"><img src="./images/c-1.png" alt=""></div>
                    <p>抵扣券</p>
                    <div class="right">&#155</div>
                </li>
            </a>
            <a href="javascript:void(0);">
                <li>
                    <div class="card_list_img"><img src="./images/c-2.png" alt=""></div>
                    <p>我的收藏</p>
                    <div class="right">&#155</div>
                </li>
            </a>
            <a href="javascript:void(0);">
                <li>
                    <div class="card_list_img"><img src="./images/c-3.png" alt=""></div>
                    <p>地址管理</p>
                    <div class="right">&#155</div>
                </li>
            </a>
            <a href="javascript:void(0);">
                <li>
                    <div class="card_list_img"><img src="./images/c-8.png" alt=""></div>
                    <p>账号设置</p>
                    <div class="right">&#155</div>
                </li>
            </a>
            <a href="javascript:void(0);">
                <li>
                    <div class="card_list_img"><img src="./images/c-6.png" alt=""></div>
                    <p>我的团</p>
                    <div class="right">&#155</div>
                </li>
            </a>
        </ul>
    </div>
    <!--退出当前账户-->
    <div class="bowOut">
        <a href="javascript:void(0);">
            <p>退出当前用户</p>
        </a>
    </div>
</div>