.mine{
    width: 100%;
    height: 100%;
    background-color: #f4f4f4;
}
.mine .header{
    height: 3.625rem;
    background-color: #ff7200;
    display: flex;
}
.header_photo{
    display: inline-block;
    width: 3.468rem;
}
.header_photo .header_photo_img{
    width: 2.265rem;
    height: 2.265rem;
    margin: 0.718rem auto;
}
.header_photo div img{
    width: 100%;
    height: 100%;
}
.header .header_info{
    display: inline-block;
    font-size: 0.3125rem;
    color: white;
    font-weight: bold;
    width: 2.968rem;
    margin-top: 1.265rem;
}
.header_info .header_info_num{
    line-height: 0.547rem;
}
.header_info_img{
    line-height: 0.578rem;
}
.header_info_img p{
    display: inline-block;
    line-height: 0.546rem;
}
.header_info_img div{
    display: inline-block;
    width: 0.468rem;
    height: 0.468rem;
    vertical-align: top;
}
.header_info_img div img{
    width: 100%;
    height: 100%;
}
/*我的订单*/
.mine .order{
     height: 3.281rem;
    background-color: white;
    margin-top: 0.500rem;
}
.order_mine{
    width: 9.531rem;
    height: 1.250rem;
    border-bottom: 0.031rem solid #f2f2f2;
    margin-left: 0.468rem;
}
.order_mine .order_img{
    display: inline-block;
    width: 0.313rem;
    height: 0.375rem;
}
.order_mine .order_img img{
    width:100%;
    height:100%;
}
.order_mine p{
    display: inline-block;
    width: 2.031rem;
    font-size: 0.453rem;
    line-height: 1.250rem;
    color: #787274;
}
.order_list{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    height: 2rem;
}
.order_list a li{
    text-align: center;
    height: 1.328rem;
    margin-top: 0.5rem;
}
.order_list a li p{
    font-size: 0.297rem;
    color: #7d7b7c;
    line-height: 0.781rem;
}
.order_list a li div{
    width: 0.781rem;
    height: 0.781rem;
    margin: 0 auto;
}
.order_list a li div img{
    width: 100%;
    height: 100%;
}
/*我的抵扣券*/
.card{
    height: 6.375rem;
    border-top: 0.031rem solid #d6d6d6;
    border-bottom: 0.031rem solid #d6d6d6;
    margin-top: 0.5rem;
    background-color: white;
}
.card_list li{
    height: 1.25rem;
    width: 9.5rem;
    margin-left: 0.5rem;
    border-bottom: 0.031rem solid #f6f6f6;
}
.card_list .card_list_img{
    width: 0.5rem;
    height: 0.5rem;
    /*margin-left: 0.078rem;*/
    /*margin-top: 0.5rem;*/
    display: inline-block;
    vertical-align: middle;
}
.card_list li p{
    display: inline-block;
    line-height: 1.25rem;
    font-size: 0.40rem;
    color: #6f696b;
    /*width: 1.61rem;*/
    text-indent: 0.266rem;
    width: 2.0625rem;
}

.card_list .card_list_img img{
    width: 100%;
    height: 100%;
}
.card_list li .right{
    margin-left: 6.390625rem;
    line-height: 1.25rem;
    display: inline-block;
    font-size: 0.6875rem;
    vertical-align: top;
}
/*退出当前用户*/
.bowOut{
    height: 1.25rem;
    border-top: 0.031rem solid #d2d2d2;
    border-bottom: 0.031rem solid #d2d2d2;
    margin-top: 0.5rem;
    background-color: white;
    margin-bottom: 0.125rem;
}
.bowOut p{
    font-size: 0.406rem;
    color: #726c6e;
    text-align: center;
    line-height:  1.25rem;
}


