<div class="order">
    <!--header-->
    <div class="order_header">
        <div class="order_header_left">
            <a ui-sref="home">
                <i class="iconfont">&#xe601;</i>
            </a>
        </div>
        <div class="order_header_center">确认订单</div>
        <div class="order_header_right">
            <div class="compile">提交订单</div>
        </div>
    </div>

    <!--收货人信息-->
    <div class="order_address">
        <div class="order_address_">
            <div class="order_address_left">
                <h3>收货人信息</h3>
            </div>
            <div>
                <i class="iconfont">&#xe603;</i>
            </div>
        </div>
    </div>
    <div class="order_address_infor">
        <div class="order_address_infor_next">
           <p>收货人：赵鹏</p>
            <p>手机：1863***794</p>
            <p>地址：北京市北京市东城区天安门广场1号楼</p>
        </div>
    </div>

    <!--支付方式-->
    <div class="order_address">
        <div class="order_address_">
            <div class="order_address_left">
                <h3>支付方式</h3>
            </div>
            <div class="iconfont">
                &#xe603;
            </div>
        </div>
    </div>
    <div class="order_address_pay">
        <div class="order_address_pay_null">
            <p>支付方式：在线支付</p>
        </div>
    </div>
    <!--发票-->
    <div class="order_address">
        <div class="order_address_">
            <div class="order_address_left">
                <h3>发票</h3>
            </div>
            <div class="iconfont">
                &#xe603;
            </div>
        </div>
    </div>
    <div class="background_"></div>
    <div class="order_address_pay">
        <div class="order_address_pay_null">
            <p>不需要发票</p>
        </div>
    </div>

<!--母婴之家商城-->
    <div class="order_shop">
        <div class="order_shop_">
            <div class="order_shop_name">
                <h3>母婴之家</h3>
            </div>
        </div>

        <!--商品种类-->
        <div class="order_shop_infor">
            <!--最外层div-->
            <div class="order_shop_infor_kind">
                <div  class="order_shop_infor_kind_box">
                    <div class="order_shop_infor_img">
                        <img src="./images/4657bc18d36f8229_160X160.jpg"/>
                    </div>
                    <div class="order_shop_infor_product">
                        <p class="order_shop_infor_name">z最早zzzZz转鹏</p>
                        <p>X2</p>
                    </div>
                    <div class="order_shop_infor_price">
                        <em class="em">￥</em>418.00
                    </div>
                </div>
            </div>
            <!--------->
        </div>

        <!--合计价钱-->
        <div class="order_shop_money">
            <div class="order_shop_money_box">
                <div class="order_shop_money_box_money">
                    <div><p>订单金额</p><p><em>￥</em>408.00</p></div>
                    <div><p>运费</p><p><em>￥</em>408.00</p></div>
                    <div><p>应付金额</p><p><em>￥</em>408.00</p></div>
                </div>
            </div>
        </div>
    </div>
    <!--兑换-->
    <div class="order_exchange">
        <div class="order_exchange_left">
            <div class="order_exchange_left_ico">
                <img  src="./images/ico.jpg"/>
            </div>
            <input type="tetx" placeholder="请输入密码"/>
        </div>
        <div class="order_exchange_right">请输入优惠券</div>
    </div>
    <!--提交订单-->
    <div class="order_shop_price">
        <div class="order_shop_price_left">
            <h3>应付金额：<span><em class="em">￥</em>498.00</span></h3>
            <p>含运费<span> <em class="em">￥</em>0.00</span></p> <p>含综合税费<span><em class="em">￥</em>0.00</span></p>
        </div>
        <div class="order_shop_price_right">提交顶单</div>
    </div>
</div>
