<!--奶粉专场-->
<div class="milk">
    <!--头部-->
    <div class="milk_header">
        <a ui-sref="home">
            <div class="milk_header_left"><i class="iconfont">&#xe600;</i></div>
        </a>
        <p class="milk_header_info">奶粉精选</p>
        <a ui-sref="cart">
            <div class="milk_header_img">
                <div><img src="./images/cart.png" alt=""></div>
                <span class="milk_header_img_num">4</span>
            </div>
        </a>
    </div>
    <!--中部广告部分-->
    <div class="milk_banner">
        <img src="./images/0721nfsj-01.jpg" alt="">
    </div>
    <!--九宫格图片-->
    <div class="milk_img">
        <!--16张图片-->
        <div class="milk_img_link">
            <!--锚点-->
            <!--<a href="#Aptamil">跳转</a>-->
            <div class="milk_img_link_top"><img src="./images/0721nfsj-02.jpg" usemap="#milkmap" alt=""></div>
            <!--</a>-->
            <!--地图 map链接-->
            <map name="milkmap">
                <area shape="rect" coords="0,0,159,179" ng-click="demo1();" alt="">
                <area shape="rect" coords="160,0,320,179" ng-click="demo2();" alt="">
                <area shape="rect" coords="321,0,481,179" ng-click="demo3();" alt="">
                <area shape="rect" coords="482,0,640,179" ng-click="demo4();" alt="">
            </map>
            <a href="">
                <div class="milk_img_link_bottom"><img src="./images/0721nfsj-03.jpg" alt=""></div>
            </a>
            <!--<map name=""></map>-->
        </div>
        <!--具体页面-->
        <!--1-->
        <div class="milk_kind">
            <div class="milk_info_header" id="Aptamil">
                <a href=""><img src="./images/20160328224431_6_aitamei001.jpg" alt=""></a>
            </div>
            <div class="milk_info_img">
                <ul class="milk_info_img_ul">
                    <!--第一张图片-->
                    <li class="milk_num">
                        <a href=""></a>
                        <div class="milk_num_all">
                            <p class="milk_num_all_p1"><img src="./images/151545_01_01.jpg" alt=""></p>
                            <div class="milk_num_all_div">
                                <p class="milk_num_all_div_p1">保税仓：Aptimal德国爱<br>他美婴儿奶粉初段Pr</p>
                                <p class="milk_num_all_div_p2">海淘奶粉专享价</p>
                                <p class="milk_num_all_div_p3">¥ 145.00</p>
                            </div>
                        </div>
                    </li>
                    <!--第二张图片-->
                    <li class="milk_num">
                        <a href=""></a>
                        <div class="milk_num_all">
                            <p class="milk_num_all_p1"><img src="./images/151545_01_01.jpg" alt=""></p>
                            <div class="milk_num_all_div">
                                <p class="milk_num_all_div_p1">保税仓：Aptimal德国爱<br>他美婴儿奶粉初段Pr</p>
                                <p class="milk_num_all_div_p2">海淘奶粉专享价</p>
                                <p class="milk_num_all_div_p3">¥ 145.00</p>
                            </div>
                        </div>
                    </li>
                    <!--第三张-->
                    <li class="milk_num">
                        <a href=""></a>
                        <div class="milk_num_all">
                            <p class="milk_num_all_p1"><img src="./images/151545_01_01.jpg" alt=""></p>
                            <div class="milk_num_all_div">
                                <p class="milk_num_all_div_p1">保税仓：Aptimal德国爱<br>他美婴儿奶粉初段Pr</p>
                                <p class="milk_num_all_div_p2">海淘奶粉专享价</p>
                                <p class="milk_num_all_div_p3">¥ 145.00</p>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>

        <!--2-->
        <div class="milk_kind">
            <div class="milk_info_header" id="Nutrilon">
                <a href=""><img src="./images/0721nfsj-05.jpg" alt=""></a>
            </div>
            <div class="milk_info_img">
                <ul class="milk_info_img_ul">
                    <!--第一张图片-->
                    <li class="milk_num">
                        <a href=""></a>
                        <div class="milk_num_all">
                            <p class="milk_num_all_p1"><img src="./images/151545_01_01.jpg" alt=""></p>
                            <div class="milk_num_all_div">
                                <p class="milk_num_all_div_p1">保税仓：Aptimal德国爱<br>他美婴儿奶粉初段Pr</p>
                                <p class="milk_num_all_div_p2">海淘奶粉专享价</p>
                                <p class="milk_num_all_div_p3">¥ 145.00</p>
                            </div>
                        </div>
                    </li>
                    <!--第二张图片-->
                    <li class="milk_num">
                        <a href=""></a>
                        <div class="milk_num_all">
                            <p class="milk_num_all_p1"><img src="./images/151545_01_01.jpg" alt=""></p>
                            <div class="milk_num_all_div">
                                <p class="milk_num_all_div_p1">保税仓：Aptimal德国爱<br>他美婴儿奶粉初段Pr</p>
                                <p class="milk_num_all_div_p2">海淘奶粉专享价</p>
                                <p class="milk_num_all_div_p3">¥ 145.00</p>
                            </div>
                        </div>
                    </li>
                    <!--第三张-->
                    <li class="milk_num">
                        <a href=""></a>
                        <div class="milk_num_all">
                            <p class="milk_num_all_p1"><img src="./images/151545_01_01.jpg" alt=""></p>
                            <div class="milk_num_all_div">
                                <p class="milk_num_all_div_p1">保税仓：Aptimal德国爱<br>他美婴儿奶粉初段Pr</p>
                                <p class="milk_num_all_div_p2">海淘奶粉专享价</p>
                                <p class="milk_num_all_div_p3">¥ 145.00</p>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <!--3-->
        <div class="milk_kind">
            <div class="milk_info_header" id="HeroBaby">
                <a href=""><img src="./images/0721nfsj-07.jpg" alt=""></a>
            </div>
            <div class="milk_info_img">
                <ul class="milk_info_img_ul">
                    <!--第一张图片-->
                    <li class="milk_num">
                        <a href=""></a>
                        <div class="milk_num_all">
                            <p class="milk_num_all_p1"><img src="./images/151545_01_01.jpg" alt=""></p>
                            <div class="milk_num_all_div">
                                <p class="milk_num_all_div_p1">保税仓：Aptimal德国爱<br>他美婴儿奶粉初段Pr</p>
                                <p class="milk_num_all_div_p2">海淘奶粉专享价</p>
                                <p class="milk_num_all_div_p3">¥ 145.00</p>
                            </div>
                        </div>
                    </li>
                    <!--第二张图片-->
                    <li class="milk_num">
                        <a href=""></a>
                        <div class="milk_num_all">
                            <p class="milk_num_all_p1"><img src="./images/151545_01_01.jpg" alt=""></p>
                            <div class="milk_num_all_div">
                                <p class="milk_num_all_div_p1">保税仓：Aptimal德国爱<br>他美婴儿奶粉初段Pr</p>
                                <p class="milk_num_all_div_p2">海淘奶粉专享价</p>
                                <p class="milk_num_all_div_p3">¥ 145.00</p>
                            </div>
                        </div>
                    </li>
                    <!--第三张-->
                    <li class="milk_num">
                        <a href=""></a>
                        <div class="milk_num_all">
                            <p class="milk_num_all_p1"><img src="./images/151545_01_01.jpg" alt=""></p>
                            <div class="milk_num_all_div">
                                <p class="milk_num_all_div_p1">保税仓：Aptimal德国爱<br>他美婴儿奶粉初段Pr</p>
                                <p class="milk_num_all_div_p2">海淘奶粉专享价</p>
                                <p class="milk_num_all_div_p3">¥ 145.00</p>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <!--4-->
        <div class="milk_kind">
            <div class="milk_info_header" id="Hipp">
                <a href=""><img src="./images/0721nfsj-08.jpg" alt=""></a>
            </div>
            <div class="milk_info_img">
                <ul class="milk_info_img_ul">
                    <!--第一张图片-->
                    <li class="milk_num">
                        <a href=""></a>
                        <div class="milk_num_all">
                            <p class="milk_num_all_p1"><img src="./images/151545_01_01.jpg" alt=""></p>
                            <div class="milk_num_all_div">
                                <p class="milk_num_all_div_p1">保税仓：Aptimal德国爱<br>他美婴儿奶粉初段Pr</p>
                                <p class="milk_num_all_div_p2">海淘奶粉专享价</p>
                                <p class="milk_num_all_div_p3">¥ 145.00</p>
                            </div>
                        </div>
                    </li>
                    <!--第二张图片-->
                    <li class="milk_num">
                        <a href=""></a>
                        <div class="milk_num_all">
                            <p class="milk_num_all_p1"><img src="./images/151545_01_01.jpg" alt=""></p>
                            <div class="milk_num_all_div">
                                <p class="milk_num_all_div_p1">保税仓：Aptimal德国爱<br>他美婴儿奶粉初段Pr</p>
                                <p class="milk_num_all_div_p2">海淘奶粉专享价</p>
                                <p class="milk_num_all_div_p3">¥ 145.00</p>
                            </div>
                        </div>
                    </li>
                    <!--第三张-->
                    <li class="milk_num">
                        <a href=""></a>
                        <div class="milk_num_all">
                            <p class="milk_num_all_p1"><img src="./images/151545_01_01.jpg" alt=""></p>
                            <div class="milk_num_all_div">
                                <p class="milk_num_all_div_p1">保税仓：Aptimal德国爱<br>他美婴儿奶粉初段Pr</p>
                                <p class="milk_num_all_div_p2">海淘奶粉专享价</p>
                                <p class="milk_num_all_div_p3">¥ 145.00</p>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!--底部登录注册-->
    <div class="milk_land">
        <div>登录</div>
        <div>注册</div>
    </div>
    <!--客户端-->
    <div class="milk_app">
        <div class="milk_app_kind">
            <div><img src="./images/IconAPP.png" alt=""></div>
            <p>客户端</p>
        </div>
        <div class="milk_app_kind">
            <div><img src="./images/IconPAD.png" alt=""></div>
            <p>触屏版</p>
        </div>
        <div class="milk_app_kind">
            <div><img src="./images/IconPC.png" alt=""></div>
            <p>电脑版</p>
        </div>

    </div>
    <!--文字信息-->
    <p class="milk_footer_company">copyright&copy; 2003-2016 m.muyingzhijia.com</p>
    <div class="blank_div"></div>
</div>